@import './base.css';

nav {
  display: flex;
  justify-content: left;
  margin-left: 50%;
  align-items: center;
  margin-top: 0px;
  flex-direction: flex-start;
  margin: 0 0 0 0;
  min-height: 5rem;
  max-height: 6rem;
  flex-wrap: nowrap;
  overflow: hidden;

}
.logo-anchor {
  margin-left: 20%;
  margin-right: 20%;
}
body {
  color: var(--text-color);
  background-color: #ffffff;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

[color-scheme='dark'] {
  background-color: var(--dark-color);
  .dark-label {
    border-color: black;
    background-color: #231f1e;
  }
}
[color-scheme='light'] {
  background-color: var(--light-color);
  .dark-label {
    border-color: white;
    background-color: #b0b0b0;
  }
  .indicator {
    border-color: white;
  }
}
